AES.Web/Service References/JobbingService/JobbingSvc5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AES.Shared.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AES.Shared.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61586/JobbingSvc.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:61586/JobbingSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AES.Shared" />
  <xs:complexType name="QAContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MC_Answers" nillable="true" type="q1:ArrayOfboolean" />
      <xs:element minOccurs="0" name="NeededRight" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Options" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="ShortAnswer" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AES.Shared" minOccurs="0" name="Type" type="q3:QuestionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QAContract" nillable="true" type="tns:QAContract" />
  <xs:complexType name="ArrayOfQAContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QAContract" nillable="true" type="tns:QAContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQAContract" nillable="true" type="tns:ArrayOfQAContract" />
</xs:schema>