Tests/AES.JobbingSvc.Tests/Service References/JobbingSvcTestClient/JobbingSvc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AES.JobbingSvc.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AES.JobbingSvc.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
      <xs:element minOccurs="0" name="LongDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobContract" nillable="true" type="tns:JobContract" />
  <xs:complexType name="ArrayOfJobContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobContract" nillable="true" type="tns:JobContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobContract" nillable="true" type="tns:ArrayOfJobContract" />
</xs:schema>