AES.SecuritySvc.Tests/Service References/SecurityService/SecuritySvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61658/SecuritySvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AES.SecuritySvc.Contracts" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AES.SecuritySvc.Contracts" minOccurs="0" name="userInfo" nillable="true" type="q1:ApplicantInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AES.SecuritySvc.Contracts" minOccurs="0" name="ValidateUserResult" nillable="true" type="q2:ApplicantInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AES.SecuritySvc.Contracts" minOccurs="0" name="user" nillable="true" type="q3:ApplicantInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AES.SecuritySvc.Contracts" minOccurs="0" name="GetUserResult" nillable="true" type="q4:ApplicantInfoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>