AES.Web/Service References/ApplicationService/ApplicationSvc5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AES.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AES.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DegreeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="HS_DIPLOMA" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="BA" />
      <xs:enumeration value="MA" />
      <xs:enumeration value="PHD" />
      <xs:enumeration value="MD" />
      <xs:enumeration value="CERTIFICATE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DegreeType" nillable="true" type="tns:DegreeType" />
  <xs:simpleType name="QuestionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHORT" />
      <xs:enumeration value="RADIO" />
      <xs:enumeration value="CHECKBOX" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QuestionType" nillable="true" type="tns:QuestionType" />
  <xs:simpleType name="AppStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PARTIAL" />
      <xs:enumeration value="AUTO_REJECT" />
      <xs:enumeration value="WAITING_CALL" />
      <xs:enumeration value="IN_CALL" />
      <xs:enumeration value="WAITING_INTERVIEW" />
      <xs:enumeration value="INTERVIEW_COMPLETE" />
      <xs:enumeration value="CALL_DENIED" />
      <xs:enumeration value="APPROVED" />
      <xs:enumeration value="DENIED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppStatus" nillable="true" type="tns:AppStatus" />
  <xs:simpleType name="AppSvcResponse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GOOD" />
      <xs:enumeration value="BAD_USER" />
      <xs:enumeration value="BAD_JOB" />
      <xs:enumeration value="BAD_QUESTION" />
      <xs:enumeration value="ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppSvcResponse" nillable="true" type="tns:AppSvcResponse" />
</xs:schema>