Tests/AES.OpeningSvc.Tests/Service References/OpeningSvcTestClient/OpeningSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7437/OpeningSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" />
  <xs:element name="GetAllOpenings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="GetAllOpeningsResult" nillable="true" type="q1:ArrayOfJobOpeningContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovedOpenings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovedOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="GetApprovedOpeningsResult" nillable="true" type="q2:ArrayOfJobOpeningContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestOpenings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="opening" nillable="true" type="q3:JobOpeningContract" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestOpeningsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingOpenings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="GetPendingOpeningsResult" nillable="true" type="q4:ArrayOfJobOpeningContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedOpenings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="GetRejectedOpeningsResult" nillable="true" type="q5:ArrayOfJobOpeningContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveOpening">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="opening" nillable="true" type="q6:JobOpeningContract" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveOpeningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectOpening">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="opening" nillable="true" type="q7:JobOpeningContract" />
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectOpeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectOpeningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>