AES.Web/Service References/ManagementService/ManagementSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagementSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61487/ManagementSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61487/ManagementSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61487/ManagementSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AES.Shared.Contracts" />
      <xsd:import schemaLocation="http://localhost:61487/ManagementSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AES.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagementSvc_GetStoreList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreList" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_GetStoreList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoreListResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_UpdateStoreInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStoreInfo" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_UpdateStoreInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStoreInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_CreateNewStore_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewStore" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_CreateNewStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IManagementSvc_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagementSvc">
    <wsdl:operation name="GetStoreList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementSvc/GetStoreList" message="tns:IManagementSvc_GetStoreList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementSvc/GetStoreListResponse" message="tns:IManagementSvc_GetStoreList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementSvc/GetUserList" message="tns:IManagementSvc_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementSvc/GetUserListResponse" message="tns:IManagementSvc_GetUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStoreInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementSvc/UpdateStoreInfo" message="tns:IManagementSvc_UpdateStoreInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementSvc/UpdateStoreInfoResponse" message="tns:IManagementSvc_UpdateStoreInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementSvc/UpdateUserInfo" message="tns:IManagementSvc_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementSvc/UpdateUserInfoResponse" message="tns:IManagementSvc_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementSvc/CreateNewStore" message="tns:IManagementSvc_CreateNewStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementSvc/CreateNewStoreResponse" message="tns:IManagementSvc_CreateNewStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagementSvc/CreateNewUser" message="tns:IManagementSvc_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagementSvc/CreateNewUserResponse" message="tns:IManagementSvc_CreateNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagementSvc" type="tns:IManagementSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStoreList">
      <soap:operation soapAction="http://tempuri.org/IManagementSvc/GetStoreList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IManagementSvc/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStoreInfo">
      <soap:operation soapAction="http://tempuri.org/IManagementSvc/UpdateStoreInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IManagementSvc/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewStore">
      <soap:operation soapAction="http://tempuri.org/IManagementSvc/CreateNewStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IManagementSvc/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagementSvc">
    <wsdl:port name="BasicHttpBinding_IManagementSvc" binding="tns:BasicHttpBinding_IManagementSvc">
      <soap:address location="http://localhost:61487/ManagementSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>