AES.Web/Service References/OpeningService/OpeningSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobOpeningContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobOpeningContract" nillable="true" type="tns:JobOpeningContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobOpeningContract" nillable="true" type="tns:ArrayOfJobOpeningContract" />
  <xs:complexType name="JobOpeningContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="longDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOpeningContract" nillable="true" type="tns:JobOpeningContract" />
</xs:schema>