AES.Web/Service References/OpeningService/OpeningSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7437/OpeningSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" />
  <xs:element name="GetOpenings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpeningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" minOccurs="0" name="GetOpeningsResult" nillable="true" type="q1:ArrayOfJobOpeningContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>