AES.Web/Service References/OpeningService/OpeningSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpeningSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7437/OpeningSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7437/OpeningSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7437/OpeningSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AES.OpeningsSvc.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpeningSvc_GetApprovedOpenings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovedOpenings" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetApprovedOpenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApprovedOpeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetJobName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobName" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetJobName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobNameResponse" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_RequestOpenings_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestOpenings" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_RequestOpenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestOpeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetPendingOpenings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingOpenings" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetPendingOpenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingOpeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetRejectedOpenings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedOpenings" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_GetRejectedOpenings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRejectedOpeningsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_ApproveOpening_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveOpening" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_ApproveOpening_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveOpeningResponse" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_RejectOpening_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectOpening" />
  </wsdl:message>
  <wsdl:message name="IOpeningSvc_RejectOpening_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectOpeningResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpeningSvc">
    <wsdl:operation name="GetApprovedOpenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/GetApprovedOpenings" message="tns:IOpeningSvc_GetApprovedOpenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/GetApprovedOpeningsResponse" message="tns:IOpeningSvc_GetApprovedOpenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobName">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/GetJobName" message="tns:IOpeningSvc_GetJobName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/GetJobNameResponse" message="tns:IOpeningSvc_GetJobName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestOpenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/RequestOpenings" message="tns:IOpeningSvc_RequestOpenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/RequestOpeningsResponse" message="tns:IOpeningSvc_RequestOpenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingOpenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/GetPendingOpenings" message="tns:IOpeningSvc_GetPendingOpenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/GetPendingOpeningsResponse" message="tns:IOpeningSvc_GetPendingOpenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRejectedOpenings">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/GetRejectedOpenings" message="tns:IOpeningSvc_GetRejectedOpenings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/GetRejectedOpeningsResponse" message="tns:IOpeningSvc_GetRejectedOpenings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveOpening">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/ApproveOpening" message="tns:IOpeningSvc_ApproveOpening_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/ApproveOpeningResponse" message="tns:IOpeningSvc_ApproveOpening_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectOpening">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpeningSvc/RejectOpening" message="tns:IOpeningSvc_RejectOpening_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpeningSvc/RejectOpeningResponse" message="tns:IOpeningSvc_RejectOpening_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOpeningSvc" type="tns:IOpeningSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApprovedOpenings">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/GetApprovedOpenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobName">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/GetJobName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestOpenings">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/RequestOpenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingOpenings">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/GetPendingOpenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRejectedOpenings">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/GetRejectedOpenings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveOpening">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/ApproveOpening" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectOpening">
      <soap:operation soapAction="http://tempuri.org/IOpeningSvc/RejectOpening" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpeningSvc">
    <wsdl:port name="BasicHttpBinding_IOpeningSvc" binding="tns:BasicHttpBinding_IOpeningSvc">
      <soap:address location="http://localhost:7437/OpeningSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>